@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@1,700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	display: flex;
}

body section#capa img {
	margin-top: 16rem;
	margin-left: 10rem;

}

body section#info {
	text-align: center;
	color: white;
}

body section#info h3 {
	margin: 3rem;
}

body section#info h1 {
	font-family: B612;
	font-size: 5rem;
}

body section#info p#descricao {
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin: 2.5rem 5rem 0 5rem;
	text-align: start;
}

body section#info div#infoinfo {
	margin: 2.5rem 5rem 0 5rem;
	display: flex;
	justify-content: flex-start;
	gap: 8rem;
	font-size: 1.5rem;
}

body section#info div#infoinfo p {
	display: flex;
	align-items: center;
	gap: 1rem;
}

body section#info div#infoinfo ul {
	display: flex;
	gap: .5rem;
	list-style: none;
}

body section#info div#butoes{
	display: flex;
	margin: 2.5rem 5rem 0 5rem;
	gap: 1rem;
	font-size: 1rem;
}

body section#info div#butoes button#b1 {
	border: none;
	padding: 15px 32px;
	color: white;
	background-color: #0072D2;
	border-radius: .3rem;
}

body section#info div#butoes button#b2 {
	padding: 15px 32px;
	color: white;
	background-color: #131318;
	border-radius: .3rem;
}