@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@700&display=swap');
@import url(./drawingBlock.css);
@import url(./login.css);
/*
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
*/

* {
    margin: 0;
    padding: 0;
}


body {
    position: relative;
    width: 1440px;
    height: 900px;
}

#wallpaper {
    position: relative;
    width: 720px;
    height: 902px;
    left: 0px;
    top: -2px;
    background: #F7FAFC;
}


  
